
.app {
  color: var(--black);
  display: flex;
  flex-direction: column;
  /* font-family: 'Inter', sans-serif; */
  min-height: 100vh;
  background: linear-gradient(106.37deg,
      #f3c6f1 29.63%,
      #f29a9d 51.55%,
      #f3c6f1 90.85%);
}

.app-glass {
  display: grid;
  width: 95%;
  min-height: 95vh;
  max-width: 1300px;
  background: var(--glass);
  border-radius: 0.8rem;
  margin: 1rem auto;
  overflow: hidden;
  grid-template-columns: 250px auto;
}

@media screen and (max-width: 768px) {
  .app-glass {
    grid-template-columns: 0px auto;
  }
}
@tailwind base;
@tailwind components;
@tailwind utilities;